<section>
    <!--Campus life-->
    <div class="flex-container">
        <div class="col col-left">
            <div class="col-copy mr200">
                <h2>Campus Life</h2>
                <p>Wondering what it’s like to be part of the Murdoch community and what university is like? Let our students take you on a guided tour or check out our facilities.</p>
            </div>
        </div>
        <div class="col col-image">
          <svg class="rotating-ring" width="650" height="651" viewBox="0 0 650 651" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="325" cy="325.75" r="324" stroke="#1A1D24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="1 10"/>
</svg>
            <div class="image" style="background-image: url(assets/images/a2.jpg);"></div>
            <div class='circle-container campus_life'>
            </div>
        </div>
    </div>
    <!--Campus life over-->

    <!--Learning and Study-->
    <div class="flex-container">
        <div class="col ">
            <div class="col-copy float-right">
                <h2>Learning and Study</h2>
                <p>Not sure what to study or need more information about courses? Wondering what kind of practical experience you’ll get to prepare you for the future? Check out more about our courses, meet the academics you’ll learn from and about our
                    work experience program. </p>
            </div>
        </div>
        <div class="col col-image col-left">
            <svg class="rotating-ring" width="650" height="651" viewBox="0 0 650 651" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="325" cy="325.75" r="324" stroke="#1A1D24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="1 10"/>
                </svg>
                            <div class="image" style="background-image: url(assets/images/a1.jpg);"></div>
                            <div class='circle-container campus_life'>
                            </div>
        </div>
    </div>
    <!--Learning and Study over-->

</section>