<!-- Home -->
<div class="home">
	<div class="home_slider_container">
  
	  <!-- Home Slider -->
	  <div class="owl-carousel owl-theme home_slider">
  
		<!-- Home Slider Item -->
		<div class="owl-item">
		  <div class="home_slider_background" style="background-image:url(../../../assets/images/home_slider_2.jpg)"></div>
		  <div class="home_slider_content">
			<div class="container">
			  <div class="row">
				<div class="col text-center"></div>
			  </div>
			</div>
		  </div>
		</div>
  
		<!-- Home Slider Item -->
		<div class="owl-item">
		  <div class="home_slider_background" style="background-image:url(../../../assets/images/a1.jpg)" ></div>
		  <div class="home_slider_content">
			<div class="container">
			  <div class="row">
				<div class="col text-center"></div>
			  </div>
			</div>
		  </div>
		</div>
  
		<!-- Home Slider Item -->
		<div class="owl-item">
		  <div class="home_slider_background" style="background-image:url(../../../assets/images/a2.jpg)"></div>
		  <div class="home_slider_content">
			<div class="container">
			  <div class="row">
				<div class="col text-center"></div>
			  </div>
			</div>
		  </div>
		</div>
  
		<!-- Home Slider Item -->
		<div class="owl-item">
		  <div class="home_slider_background" style="background-image:url(../../../assets/images/a3.jpg)"></div>
		  <div class="home_slider_content">
			<div class="container">
			  <div class="row">
				<div class="col text-center"></div>
			  </div>
			</div>
		  </div>
		</div>
  
	  </div>
  
	</div>
  
	<!-- Home Slider Nav -->
	<div class="home_slider_nav home_slider_prev"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
	<div class="home_slider_nav home_slider_next"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
  </div>
  

<!-- Features -->

<div class="features">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="section_title_container text-center">
					<h2 class="section_title">Welcome To Erasmus+</h2>
					<!----		<div class="section_subtitle">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel gravida arcu.
									Vestibulum feugiat, sapien ultrices fermentum congue, quam velit venenatis sem</p>
							</div> -->
				</div>
			</div>
		</div>
		<div class="row features_row">

			<!-- Features Item -->
			<div class="col-lg-3 feature_col">
				<div class="feature text-center trans_400">
					<div class="feature_icon"><img src="assets/images/icon_1.png" alt=""></div>
					<h3 class="feature_title">The Experts</h3>
					<div class="feature_text">
						<p>Always listen to experts. They'll tell you what can't be done, and why.</p>
					</div>
				</div>
			</div>

			<!-- Features Item -->
			<div class="col-lg-3 feature_col">
				<div class="feature text-center trans_400">
					<div class="feature_icon"><img src="assets/images/icon_2.png" alt=""></div>
					<h3 class="feature_title">academic achievement</h3>
					<div class="feature_text">
						<p>Excellence is an art won by training and habituation</p>
					</div>
				</div>
			</div>

			<!-- Features Item -->
			<div class="col-lg-3 feature_col">
				<div class="feature text-center trans_400">
					<div class="feature_icon"><img src="assets/images/icon_3.png" alt=""></div>
					<h3 class="feature_title">Technology</h3>
					<div class="feature_text">
						<p>Technology is best when it brings people together.</p>
					</div>
				</div>
			</div>

			<!-- Features Item -->
			<div class="col-lg-3 feature_col">
				<div class="feature text-center trans_400">
					<div class="feature_icon"><img src="assets/images/icon_4.png" alt=""></div>
					<h3 class="feature_title">Award & Reward</h3>
					<div class="feature_text">
						<p>You don't reward reaction; you reward results.
						</p>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>