<section class="about-section" style="padding-top: 180px;">
    <div class="container">
        <div class="row">                
            <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
                <div class="inner-column">
                    <div class="sec-title">
                        <span class="title">Our Mission</span>
                        <h2>EU programme for <br>education, training, youth and sport</h2>
                    </div>
                    <div class="text">Erasmus+ is the EU program for education, training, youth and sport in Europe.
                        Its budget is estimated at 26.2 billion euros. Its funding has almost doubled compared to the previous program (2014-2020). The 2021-2027 program has a strong focus on social inclusion, ecological and digital transitions and the promotion of young people's participation in democratic life.

                        It supports the priorities and activities set out under the European Education Area, the Digital Education Action Plan and the Skills Agenda for Europe. In addition, Erasmus+:</div>
                    <ul class="list-style-one">
                        <i class="fa fa-fire" aria-hidden="true"></i><li ><b>higher education</b></li>
                        <i class="fa fa-fire" aria-hidden="true"></i><li><b>vocational education and training</b></li>
                        <i class="fa fa-fire" aria-hidden="true"></i><li><b>adult education</b></li>
                        <i class="fa fa-fire" aria-hidden="true"></i><li><b>youth</b></li>
                    </ul>
                    <div class="btn-box" >
                        <a routerLink="/contact" class="theme-btn btn-style-one">Contact Us</a>
                    </div>
                </div>
            </div>

            <!-- Image Column -->
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column wow fadeInLeft">
                    <figure class="image-1"><a href="#" class="lightbox-image" data-fancybox="images"><img src="assets/images/jareb.jpg" alt="" style="height: 500px;"></a></figure>
                    <figure class="image-2"><a href="#" class="lightbox-image" data-fancybox="images"><img src="assets/images/soker.jpg" style="width: 500px;" alt=""></a></figure>
                </div>
            </div>
        </div>
    </div>
</section>