<main style="padding-top: 120px;padding-bottom: 150px;">
    <div class="row content">
      <div style="padding-left: 0;" class="col-md-4">
        <div class="article">
          <img src="assets/images/sidi-bou.jpg">
          <h2 class="location"><b>Sidi Bou Said</b> <br/>The hidden gems of the islands</h2>
          <p class="desc">Famous for its cobbled streets and blue and white houses, Sidi Bou Said is a picturesque village set on a promontory overlooking the Mediterranean Sea. Open-air cafes, Tunisian restaurants and small art galleries are also dotted on the heights</p>
          <div class="info">
            <span class="date"><i class="far fa-calendar"></i>  August 12, 2017</span>
            <span class="comment"><i class="far fa-comment-alt"></i>  1 comments</span>
          </div>
        </div>
        <div class="article">
          <img src="assets/images/jem.jpg">
          <h2 class="location"><b>El Jem</b> <br/> Things to do and places to visit </h2>
          <p class="desc">El Jem or El Djem is a Tunisian city located at the gates of the Sahel region. Administratively attached to the governorate of Mahdia</p>
          <div class="info">
            <span class="date"><i class="far fa-calendar"></i>  November 09, 2017</span>
          </div>
        </div>
        <div class="article quote">
          <p style="color: white;">“The most beautiful in the world is, of course, the world itself.” <br/>   <span>- Wallace Stevens -</span></p>
        </div>
        <div class="article">
          <img src="assets/images/bardo.jpg">
          <h2 class="location"><b>Bardo museum</b> <br/> Travel tales and tips</h2>
          <p class="desc">The Bardo National Museum is a museum in Tunis, capital of Tunisia, located in the suburb of Bardo. It is one of the most important museums of the Mediterranean basin and the second museum of the African continent after the Egyptian museum of Cairo by the richness of its collections.</p>
          <div class="info">
            <span class="date"><i class="far fa-calendar"></i>  February 19, 2017</span>
            <span class="comment"><i class="far fa-comment-alt"></i>  2 comments</span>
          </div>
        </div>
      </div>
      <div style="padding: 0 7.5px;" class="col-md-4">
        <div class="article quote">
          <p style="color: white;">“The most beautiful in the world is, of course, the world itself.” <br/>   <span>- Wallace Stevens -</span></p>
        </div>
        <div class="article">
          <img src="assets/images/mdina.jpg">
          <h2 class="location"><b>Médina de Tunis</b> <br/> Road trip destinations</h2>
          <p class="desc">The medina of Tunis is a Tunisian medina, the historic heart of Tunis, listed since 1979 as a UNESCO World Heritage Site.</p>
          <div class="info">
            <span class="date"><i class="far fa-calendar"></i>  April 23, 2017</span>
            <span class="comment"><i class="far fa-comment-alt"></i>  4 comments</span>
          </div>
        </div>
		<div class="article">
			<img src="assets/images/karwi.jpg">
			<h2 class="location"><b>Kairouan</b> <br/>The hidden gems of the islands</h2>
			<p class="desc">Kairouan is a city located in the desert of northern Tunisia. Under the rule of the Aghlabid emirs, who built many of its monuments, it became a powerful trading city renowned for its school of Islamic learning in the 9th century.</p>
			<div class="info">
			  <span class="date"><i class="far fa-calendar"></i>  August 12, 2017</span>
			  <span class="comment"><i class="far fa-comment-alt"></i>  1 comments</span>
			</div>
		  </div>
      <div class="article">
        <img src="assets/images/hamamet.jpg">
        <h2 class="location"><b>Hammamet</b> <br/> Travel tales and tips</h2>
        <p class="desc">Hammamet is a Tunisian city located in the northeast, on the southeast coast of Cap Bon, about sixty kilometers south of Tunis. Attached to the governorate of Nabeul</p>
        <div class="info">
          <span class="date"><i class="far fa-calendar"></i>  February 19, 2017</span>
          <span class="comment"><i class="far fa-comment-alt"></i>  2 comments</span>
        </div>
      </div>
      </div>
      <div style="padding-right: 0;" class="col-md-4">
        <div class="article">
          <img src="assets/images/djerba.jpg">
          <h2 class="location"><b>Djerba</b> <br/> Travel tales and tips</h2>
          <p class="desc">Djerba is an island off the Tunisian coast known for its Mediterranean beaches and white desert towns influenced by Berber, Arab, Jewish and African cultures</p>
          <div class="info">
            <span class="date"><i class="far fa-calendar"></i>  February 19, 2017</span>
            <span class="comment"><i class="far fa-comment-alt"></i>  2 comments</span>
          </div>
        </div>
        <div class="article quote">
          <p>“Travel is never a matter of money but of courage.”<br/>   <span>- Paolo Coelho -</span></p>
        </div>
        <div class="article">
          <img src="assets/images/touzeur.jpg">
          <h2 class="location"><b>Tozeur</b> <br/> Travel tales and tips</h2>
          <p class="desc">Tozeur is a Tunisian city on the borders of the Atlas and the Sahara desert, the largest of the five oases that make up the Jerid. Gradually built around its palm grove, it is the capital of the governorate of the same name.</p>
          <div class="info">
            <span class="date"><i class="far fa-calendar"></i>  February 19, 2017</span>
            <span class="comment"><i class="far fa-comment-alt"></i>  2 comments</span>
          </div>
        </div>
        <div class="article">
          <img src="assets/images/sousse.jpg">
          <h2 class="location"><b>Sousse</b> <br/> Travel tales and tips</h2>
          <p class="desc">Sousse is a port city in eastern Tunisia, located 143 kilometers south of Tunis, and open to the Gulf of Hammamet</p>
          <div class="info">
            <span class="date"><i class="far fa-calendar"></i>  February 19, 2017</span>
            <span class="comment"><i class="far fa-comment-alt"></i>  2 comments</span>
          </div>
        </div>
      </div>
    </div>
  </main>