.navbar {
    margin-left: 100px;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    padding: 0;
    -webkit-transition: all 200ms ease;
      -moz-transition: all 200ms ease;
      -ms-transition: all 200ms ease;
      -o-transition: all 200ms ease;
      transition: all 200ms ease;
  
  }