<div class="half-half-image-text">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>Our Mission</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-lg-6">
          <div class="content">
            <div class="hama">
            <p>Erasmus+ offers mobility and cooperation opportunities in:</p>
            <ul>
                <li >higher education</li>
                <li>vocational education and training</li>
                <li>school education </li>
                <li>adult education</li>
                <li>youth</li>
                <li>sport</li>
            </ul>
        </div>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="img" style="background: url('assets/images/aassal.jpg')no-repeat center;background-size:cover;"></div>
        </div>
      </div>
    </div>
      </div>
      
